<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>My fav old car is:</h1>
    <% result.forEach((item) => { %>
    <h3>Car is <%= item.brand %></h3>
    <h3>Car model is <%= item.model %></h3>
    <h3>Car year is <%= item.year %></h3>
    <h3>Car color is <%= item.color %></h3>

    <% });%>
  </body>
</html>
